Hotel/Connected Services/ServiceReference1/HotelsServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelsServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelsServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelDetails" nillable="true" type="tns:HotelDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelDetails" nillable="true" type="tns:ArrayOfHotelDetails" />
  <xs:complexType name="HotelDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarRating" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelDetails" nillable="true" type="tns:HotelDetails" />
</xs:schema>